.findhouse {
  padding-top: 45px;
  .nav-header {
    color: #999;
    padding: 0 10px;
    .search-bar {
      padding: 0;
    }
    .am-navbar-left {
      padding-left: 0;
      flex: 0;
    }
    .am-navbar-right {
      flex: none;
      margin: 0;
    }
  }
}
