.house-detail {
  .nav-header {
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    .am-navbar-title {
      color: #fff;
      font-size: 16px;
    }
    .icon-share {
      font-size: 18px;
    }
  }
}
